NEWS_API_KEY=
NEWS_KEYWORDS=
NEWS_LANGUAGE=en

EMAIL_SENDER=
EMAIL_SENDER_PASSWORD=
EMAIL_RECEIVER=
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587

GOOGLE_CREDENTIALS_FILE=credentials.json
GOOGLE_TOKEN_FILE=token.json
